*{
  margin: 0 10px 0 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgba(89, 71, 63, 1);
  color:#eeeeee;
  height: 100vh;
}


#no-mobile{
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: rgba(89, 71, 63, 1);
  color:#eeeeee;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:32px;
  top: 0;
}

@media screen and (max-width:580px){
  #no-mobile{
    display: none;
  }
}
