:root {
    --primary-color : #1c1b1b;
    --secondary-color: #BBB9B9;
}

body {
    height: 100vh;
    overflow: hidden;
    font-size: 17px;
    background-size: 100% 100%;
}

.box-style {

    box-sizing: border-box;
    padding: 25px;
    background: #ffffff;
    border-radius: 10px;
    
    background-color: rgba(255, 255, 255, .25);
    box-shadow: 0 6px -2px -2px #4f4f4f;
    border-width: 0;
    border-color: #ffffff;
    border-style: solid;
    font-weight: 300;
}

.shown{
    transition: all 1000ms;
}

.hidden {
    visibility: hidden;
    transform: translateY(-100vh);
    transition: all 1000ms;
}
